@model Microsoft.AspNet.Identity.EntityFramework.IdentityUser
@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete User</h1>
<hr />
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("DeleteUser", "Dashboard", FormMethod.Post))
        {
            @Html.HiddenFor(u => u.Id)
            <p>Are you sure that you wish to delete this user: @Html.DisplayFor(u => u.Email) show the email address here.</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "Users", "Admin", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>  

