@model IEnumerable<CarDealership.Models.Vehicle>
@{
    ViewBag.Title = "Vehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Vehicles</h2>
@Html.Partial("SearchPartialView")
<hr />
@Html.Partial("VehicleResultsPartialView")

@section scripts {
    <script>
        $(document).ready(function () {
            $('.vehicleButton').text('Edit Vehicle');
        });
        function vehicleAction(vehicleId) {
            location = "/Admin/EditVehicle/" + vehicleId;
        }
    </script>
<script src="~/Scripts/searchAll.js"></script>
    }