@{
    Layout = null;
}

<form style="border: 1px solid #000;padding:15px;">
    <div class="row">
        <div class="col-xs-4">
            <label>Quick Search</label>
        </div>
        <div class="col-xs-4">
            <label>Price</label>
        </div>
        <div class="col-xs-4">
            <label>Year</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <input class="form-control" type="text" id="makeModelYear" placeholder="Enter make, model, or year" />
        </div>
        <div class="col-xs-2">
            <select id="minPrice" class="form-control pricing">
                <option value="">No Min</option>
            </select>
        </div>
        <div class="col-xs-2">
            <select id="maxPrice" class="form-control pricing">
                <option value="">No Max</option>
            </select>

        </div>
        <div class="col-xs-2">
            <select id="minYear" class="form-control yearMade">
                <option value="">No Min</option>
            </select>
        </div>
        <div class="col-xs-2">
            <select id="maxYear" class="form-control yearMade">
                <option value="">No Max</option>
            </select>
        </div>
    </div>


    <div class="row" style="margin-top:15px;">
        <div class="col-xs-5">&nbsp;</div>
        <div class="col-xs-7">
            <button class="btn btn-danger" id="searchButton">Search</button>
        </div>
    </div>
</form>
