@model List<CarDealership.Models.Vehicle>
@{
    ViewBag.Title = "NewVehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Vehicles</h2>

@Html.Partial("SearchPartialView")
<hr />
@Html.Partial("VehicleResultsPartialView")


@section scripts {
    <script src="~/Scripts/searchNew.js"></script>

}