@model List<CarDealership.Models.Vehicle>

@{
    ViewBag.Title = "UsedVehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Used Vehicles</h2>
@Html.Partial("SearchPartialView")
<hr />
@Html.Partial("VehicleResultsPartialView")

@section scripts {
<script src="~/Scripts/searchUsed.js"></script>
    }

