@model List<CarDealership.Models.Vehicle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sales</h2>
@Html.Partial("SearchPartialView")
<hr />
@Html.Partial("VehicleResultsPartialView")

@section scripts {
    <script src="~/Scripts/searchForSale.js"></script>
    }
